[core]
	editor = \"C:\\Users\\umuts\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[user]
	name = Umut Önder
	email = umutsonder@gmail.com
[alias]
	hist = log --all --decorate --oneline --graph
	uncommit= reset HEAD~1
	recommit= commit --amend --no-edit
	editcommit= commit --amend
	blist= branch -a
	chs = !sh -c 'git checkout \"$0\" && git status'
[merge]
	tool = p4merge
[mergetool "p4merge"]
	path = C:/Program Files/Perforce/p4merge.exe
[diff]
	tool = p4merge
[difftool "p4merge"]
	path = C:/Program Files/Perforce/p4merge.exe
[difftool]
	prompt = false
[mergetool]
	prompt = false

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gui]
	recentrepo = C:/Users/umuts/OneDrive - sabanciuniv.edu/Dersler/zOld/6th/CS408/Team Project/Phase II
[credential]
	helper = manager
